@{
    ViewBag.Title = "Parolamı Unuttum";
}
@model Eticaret2022.Models.ForgotPasswordViewModel

<!-- ::::::  Start  Main Container Section  ::::::  -->
<main id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- :::::::::: Start My Account Section :::::::::: -->
                <div class="my-account-area">
                    <div class="row">

                        <div class="col-xl-5 col-md-5 container mt-4">
                            <div class="tab-content my-account-tab" id="pills-tabContent">
                                <div aria-labelledby="pills-account-tab">
                                    <div class="my-account-details account-wrapper">
                                        <h4 class="account-title">Şifremi Unuttum</h4>
                                        <form action="/Account/ForgotPassword" method="post">
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary("", new { @class = "text-danger" },"invalidEmail")
                                            <div class="account-details">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email'inizi Giriniz" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            <button type="submit" class="btn btn--box btn--radius btn--small btn--black btn--black-hover-green btn--uppercase font--bold">Giriş Yap</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- :::::::::: End My Account Section :::::::::: -->
            </div>
        </div>
    </div>
</main> <!-- ::::::  End  Main Container Section  ::::::  -->

@section Scripts
{
    <script src="/Content/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="/Content/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}


